training/
test/
training.torrent
test.torrent
papers
SHA256SUMS.txt
score2018.m
sample 
sample-matlab 
sample-matlab-v1.zip 
sample-matlab.zip 
sample-matlab.zip- 
sample-v1.zip 
sample.zip 
sample.zip-
.challenge-2018.torrent
unofficial-phase-results.csv
new-arousals.zip
node_modules
.ipynb_checkpoints
tmux-client-14957.log
yarn-error.log
